@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

	$palette-border: #ddd;

/* List */

	ul {
		&.features {
			li {
				border-top-color: $palette-border;

				h3 {
					&:before {
						border: solid (_size(border-width) * 2) $palette-border;
					}
				}
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		border: solid (_size(border-width) * 2) $palette-border;
		position: relative;
		-ms-behavior: url('assets/js/ie/PIE.htc');

		&.special {
			border: none;
		}
	}

/* Section/Article */

	header {
		&.major {
			&:after {
				background-color: $palette-border;
			}
		}
	}

/* Wrapper */

	.wrapper {
		&.cta {
			&:before {
				background: url('images/ie/overlay.png') !important;
			}
		}
	}

/* Banner */

	#banner {
		.content {
			background: url('images/ie/overlay.png');
		}
	}

/* Footer */

	#footer {
		.content {
			background: url('images/ie/overlay.png');
		}
	}